<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-responsive-min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.7/css/fork-awesome.min.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        {% endblock head %}
        {% block og %}
        {% include "partial/og.html" %}
        {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer class="index-footer">
        <a href="{{ SITEURL }}/" title="{{ SITENAME|striptags }}">{{ SITENAME }}</a>
        {% for title, link in FOOTERITEMS %}
        <a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in PAGES %}
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        {% endfor %}
        {% endif %}
        {% for title, link in LINKS %}
        <a href="{{ link }}">{{ title }}</a>
        {% endfor %}
    </footer>
</body>
</html>
